<div class="sidebar">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/">Home</a>
        </li>
        <li class="list-group-item">
            <a href="/Expenses">Expenses</a>
        </li>
        <li class="list-group-item">
            <a href="/Reports">Reports</a>
        </li>
        <li class="list-group-item">
            <a href="/Settings">Settings</a>
        </li>
    </ul>
</div>

<style>
    .sidebar {
        width: 250px;
        background-color: #f8f9fa;
        padding: 15px;
        height: 100%;
    }
    .sidebar .list-group-item {
        border: none;
        padding: 10px 15px;
    }
    .sidebar .list-group-item a {
        text-decoration: none;
        color: #333;
    }
    .sidebar .list-group-item a:hover {
        text-decoration: underline;
    }
</style>
