@{
    ViewData["Title"] = "Display Student Details";
}

<h1>Student Details</h1>

<p><strong>Roll Number:</strong> @ViewBag.RollNo</p>
<p><strong>Name:</strong> @ViewBag.Name</p>
<p><strong>Branch:</strong> @ViewBag.Branch</p>
<p><strong>Pass Out Year:</strong> @ViewBag.Year</p>
