
@{
    ViewData["Title"] = "PersonDetails";
}


<h1>Personal Deails</h1>

<form asp-action="PersonDetails">
    <table class="table">
        <tr>
            <td>
                Enter your Name :
            </td>
            <td>
                @Html.TextBox("name");
            </td>
        </tr>
        <tr>
            <td>
                Enter your Email :
            </td>
            <td>
                @Html.TextBox("email")
            </td>
        </tr>
        <tr>
            <td>
                Select city :
            </td>
            <td>
                @Html.DropDownList("cities")
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input type="submit" value="Save" class="btn btn-primary" />
            </td>
        </tr>
    </table>
</form>
